// !!! Deprecated. Will be replaced by css custom properties, so use them from packages/styles/css-variables.scss !!!

$white: #fff;

$brand-300: #b4dd82;

$blue-jasmine-400: #eaebee;
$blue-jasmine-600: #d2d3da;
$blue-jasmine-1300: #33353c;
$blue-jasmine-1400: #1d1e22;
